*{
  box-sizing: border-box;
}



.parallax {
  // background: linear-gradient(180deg, #D5E7DD 0%, #FEFEFE 60.42%);
  perspective: 100px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


@keyframes pulse {
  0% {
    color: lightgray;
  }
}




@media only screen and (max-width : 480px) {


  .about-nav{
    margin: 10px 26px 0 0;
    font-size: 16px;
    z-index: 10;
    text-decoration: none;
  }
}

@media only screen and (min-width : 481px) {
  .about-nav{
    margin: 10px 96px 0 0;
    font-size: 24px;
    z-index: 10;
    text-decoration: none;
  }

}


.parallax__layer{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 30px 0;
  width: 100%;
  .logo-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    
  }
}

@media only screen and (max-width : 480px) {
  .scroll {
    color: white;
    margin: -30px 0 0 0;
    font-size: 12px;
  }
}

@media only screen and (min-width : 481px) {
  .scroll {
    color: white;
    margin: -40px 0 0 0;
  }
}



.parallax__cover{
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 1300px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;

  .about-container {
    margin: 700px 30px 0 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .about-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .icons {
        margin: 30px 0;
        a {
          margin: 0 30px 0 0;
        }
      }
    }

    
  }
}

@media only screen and (max-width : 480px) {
  .introduction {
    font-size: 18px;
    color: white;
    text-align: left;
    width: 250px;
  }

  .deer-icons {
    margin: 10px 0 0 10px;

    img {
      width: 120px;
    }
  }
}

@media only screen and (min-width : 481px) {
  .introduction {
    font-size: 24px;
    color: white;
    text-align: left;
    width: 400px;
  }

  .deer-icons {
    margin: 0 0 0 10px;
    
  }

}

$parallax__layers: 6;

@for $i from 1 through $parallax__layers {
  $x: ($parallax__layers - $i) / 2;
  .parallax__layer__#{$i}{
     transform: translateZ(-100 * $x#{px}) scale($x + 1);
     margin-bottom: $x*140px;
     margin-left: -50px;
  }
}