*{
  box-sizing: border-box;
}

.parallax {
  background: linear-gradient(180deg, #D5E7DD 0%, #FEFEFE 60.42%);
  perspective: 100px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // margin-left: -1500px;
}

.parallax__layer{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  img {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    // margin: 0 0 0 850px;
  }
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
  width: 100%;
}

.logo {
  margin: 0 0 0 87px;
}

.about-nav{
  margin: 0 96px 0 0;
  font-size: 24px;
  color: #3E5E5D;
  z-index: 10;
}

.scroll {
  color: white;
  margin: -40px 0 0 0;
}

.parallax__cover{
  background: #3E5E5D;
  // display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 1300px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-container {
  margin: 700px 0 0 0;
  width: 830px;
  display: flex;
  justify-content: space-between;
}

.about-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.introduction {
  font-size: 24px;
  color: white;
  text-align: left;
  width: 420px;
}

.icons {
  margin: 30px 0 0 0;
}

.icons a {
  margin: 0 30px 0 0;
}

$parallax__layers: 6;



@for $i from 0 through $parallax__layers {
  $x: ($parallax__layers - $i) / 2;
  .parallax__layer__#{$i}{
     transform: translateZ(-100 * $x#{px}) scale($x + 1);
     margin-bottom: $x*140px;
     margin-left: -50px;
  }
}