.selector-wrapper {
    margin: 0 0 15px 30px;
    display: flex;
    justify-content: flex-end;
}

.selector {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin: 12px 30px 0 0;
}

p {
    margin: 10px 10px 10px 0;
}

.button-label {
    font-size: 26px;
    color: #6E016B;
}

.theme-button {
    background-color: #6E016B;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin: 0 8px 8px 0;
    cursor: pointer;
}