.project-card {
    background: #e7e7e7;
    height: 240px;
    width: 220px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 20px 20px 0;
}

.project-card-img {
    border-radius: 10px;
    margin: 18px 5px 12px 5px;
    width: 210px;
    height: 120px;
}