.sidebar-wrapper {
    background-color: #6E016b;
    overflow-x: hidden;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .sidebar-wrapper {
        order: -1;
        min-width: 300px;
        min-height: 100vh;
    }
}

.logo {
    margin: 15px 0 0 0;
}

.header-info {
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 768px) {
    .header-info {
        margin: 60px 0 50px 0;
    }
}

.site-title {
    font-size: 45px;
    margin: 0 0 4px 0;
}

.site-title-caption {
    font-size: 18px;
    margin: 0 0 15px 0;
}

.site-title, .site-title-caption {
    color: white;
}

.navbar-list .link {
    text-decoration: none;
}


.navbar-item {
    height: 45px;
    text-align: center;
    font-size: 30px;
    color: white;
    line-height: 45px;
    outline: solid 1px rgb(218, 218, 218);
}

.selected {
    background-color: #DDE8F2;
    text-decoration: underline;
    font-weight: bold;
}

.navbar-item:hover {
    background-color: rgb(147, 154, 170);
}

.navbar-list {
    padding: 0;
    margin: 20px 0 20px 0;
    list-style-type: none;
}