.sidebar-wrapper {
    width:350px;
    background-color: #6E016b;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
}


.header-wrapper {
    background-color: #3B455B;
}

.header-info {
    display: flex;
    flex-direction: column;
    height: 282px;
    padding: 50px;
}

.site-title {
    font-size: 36px;
    margin: 0 0 4px 0;
}

.site-title-caption {
    font-size: 12px;
}

.site-title, .site-title-caption {
    color: white;
}

.navbar-item {
    background-color: #B59FCD;
    height: 45px;
    text-align: center;
    font-size: 17px;
    color: white;
    line-height: 45px;
    outline: solid 1px white;
}

.navbar-item:hover {
    background-color: #3B455B;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}