.App {
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .top-content-container {
    display: flex;
    flex-direction: row;
  }
}



// .switch-wrapper {
//   position: relative;
// }

// .switch-wrapper > div {
//   position: absolute;
// }

.main-content {
  overflow: hidden;
  width: 100vw;
}

.text-container {
  margin: 0 16px 0 50px;
  max-width: 800px;
}

button {
  font-size: 18px;
}

h1,h2,h3,h4,h5,li,p {
  margin: 0;
  color: #565656;
  font-weight: normal;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  line-height: 56px;
}

h2 {
  font-size: 30px;
  margin: 0 0 10px 0;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

p {
  font-size: 20px;
  line-height: 30px;
}

li {
  font-size: 24px;
  line-height: 34px;
  padding: 10px 0;
}
